---
	import CertificationSection from './CertificationSection.astro'
	const newCertifications = await fetch('https://api.elian.codes/certificationgroups')
	const certificationSections = await newCertifications.json();
---
<section>
	{ certificationSections.map(section => (
			<CertificationSection
				title={section.title}
				certifications={section.certifications}
				description={section.description}
			/>
		))
	}
</section>