---
export interface Props {
    certifications: any[];
    title: String;
    description?: string
}
import Certification from './Certification.astro'

const { certifications, title, description }: Props = Astro.props
---
<style lang="scss">
.certification-section {
    @apply mb-16;
    h2 {
        @apply text-center mt-8 mb-4 text-3xl font-bold;
    }
    p.description {
        @apply text-justify mx-auto max-w-lg my-8;
    }
    .certifications {
        @apply flex flex-col md:flex-row md:justify-center md:items-start gap-16 md:gap-32;
    }
}
</style>
<div class="certification-section" data-aos="fade-up">
    <h2>{title}</h2>
    { description ? (<p class="description">{description}</p>) : null}
    <div class="certifications">
        { certifications.length > 0 ? certifications.sort((a, b) => a.year - b.year).reverse().map(certification => (
                <Certification certification={certification} />
            )) : null
        }
    </div>
</div>