---
	import CertificationSection from './CertificationSection.astro'
	const newCertifications = await fetch('https://eliancodes-backend-kalvk7jmqq-ew.a.run.app/certificationgroups')
	const certificationSections = await newCertifications.json();
---
<section>
	{ certificationSections.map(section => (
			<CertificationSection
				title={section.title}
				certifications={section.certifications}
				description={section.description}
			/>
		))
	}
</section>