---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import DefaultHeader from '../components/layout/DefaultHeader.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, permalink, alt} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <DefaultHeader />
  </body>
</html>

