<footer>
  <p>Built with <a href="https://astro.build" rel="nofollow noopener" target="_blank" class="use-color">Astro</a>, <a href="https://tailwindcss.com" rel="nofollow noopener" target="_blank" class="use-color">TailwindCSS</a> &amp; ☕</p>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" client:load></script>
<script client:load>
  AOS.init();
</script>
<script client:load>
function getRandomInt(max) {
  return Math.floor(Math.random() * max);
}

const getNewColor = () => {
  const colors = [
    { class: 'text-primary-green', code: '#86EFAC'},
    { class: 'text-primary-blue', code: '#93C5FD'},
    { class: 'text-primary-red', code: '#FCA5A5'},
    { class: 'text-primary-orange', code: '#FDBA74'},
    { class: 'text-primary-fuchsia', code: '#F0ABFC'}
  ]
  return colors[getRandomInt(colors.length)]
}
const color = getNewColor();

document.querySelectorAll('.use-color').forEach(element => {
  element.classList.add(color.class)
});

if (document.querySelector('html').getAttribute('class').includes('index-bg')){
  document.querySelector('html').style.background = `linear-gradient(90deg, #FFF 50%, ${color.code} 50%)`
}
</script>