<footer>
  <p>Built with <a href="https://astro.build" rel="nofollow noopener" target="_blank">Astro</a>, <a href="https://tailwindcss.com" rel="nofollow noopener" target="_blank">TailwindCSS</a> &amp; ☕</p>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" client:load></script>
<script>
  AOS.init();
</script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="elianvancutsem" data-description="Support me on Buy me a coffee!" data-message="" data-color="#79D6B5" data-position="Right" data-x_margin="18" data-y_margin="18" load:idle></script>