---
import Link from "../Link.astro";
import List from "../List.astro";
import ListItem from "../ListItem.astro";
import MobileMenu from "./MobileMenu.astro";

interface Props {
	links: {
		title: string;
		href: string;
	}[];
}

const { links } = Astro.props;
const currentUrl = Astro.url.pathname;
---

<header transition:name='site-header'>
	<nav>
		<slot />
		<List>
			{
				links.map((link) => (
					<ListItem>
						<Link
							class={link.href === currentUrl ? 'active' : ''}
							href={link.href}
						>
							{link.title}
						</Link>
					</ListItem>
				))
			}
		</List>
	</nav>
	<MobileMenu {links} {currentUrl}>
		<slot name='mobile-menu' />
	</MobileMenu>
</header>

<style>
	header {
		padding: 1.5rem calc(var(--page-gutter) + 0.25rem) 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 40;
		color: white;
		> nav {
			display: none;
			position: relative;
			z-index: 40;
			> :first-child {
				position: relative;
				z-index: 41;
			}
			> ul {
				display: flex;
				gap: 1.5rem;
				padding: 0.95rem 1.75rem;
				text-transform: uppercase;
				font-size: 0.8rem;
				line-height: 1.25rem;
				z-index: 50;

				background: rgba(0, 0, 0, 0.35);
				border-radius: 16px;
				box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
				backdrop-filter: blur(5px);
				-webkit-backdrop-filter: blur(5px);
				border: 1px solid rgba(0, 0, 0, 0.5);

				a:hover,
				a.active {
					color: var(--primary);
				}
			}
			h1 {
				font-size: 2.25rem;
				line-height: 2.5rem;
			}
			a {
				color: inherit;
			}
		}
	}
	@media (min-width: 768px) {
		header {
			padding-top: 2rem;
			margin: 0 8rem;
			> nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
</style>
