---
import Link from "../Link.astro";
import List from "../List.astro";
import ListItem from "../ListItem.astro";

interface Props {
	links: {
		title: string;
		href: string;
	}[];
}

const { links } = Astro.props;
---

<div transition:name='site-sidebar'>
	<nav>
		<List>
			{
				links.map((link) => (
					<ListItem>
						<Link class='no-underline' href={link.href}>
							{link.title}
						</Link>
					</ListItem>
				))
			}
		</List>
	</nav>
</div>

<style>
	div {
		display: none;
		position: absolute;
		z-index: 35;
		border-left: 0.5px solid white;
		right: var(--page-gutter);
		top: var(--page-gutter);
		bottom: var(--page-gutter);
		width: 3.5rem;
		padding-top: 2.5rem;
		text-transform: uppercase;
		color: white;
		font-size: smaller;
		nav {
			ul {
				display: flex;
				flex-direction: column;
				gap: 3.8rem;
				font-weight: 600;

				li {
					transform: rotate(90deg);
					&:hover {
						color: var(--primary);
					}
				}
			}
		}
	}
	@media (min-width: 768px) {
		div {
			position: absolute;
			display: flex;
		}
	}
</style>
