/* Tailwind base */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom Components */
@import "./components/blogpost";

/* Custom Page Components */
@import "./pages/prose";

.nav-title {
    font-family: Rubik, sans-serif;
    @apply text-xl md:text-3xl md:text-black dark:text-gray-200 md:leading-8;
}

html {
    .home-background {
        background: linear-gradient(90deg, #FFF 50%, #6ee7b7 50%);
        @apply h-screen;
    }
}

html.dark {
    @apply bg-gray-800;

    .home-background {
        background: none;
        @apply h-screen bg-gray-800 #{!important};
    }
}

.title {
    font-family: Rubik, sans-serif;
    @apply text-5xl font-bold text-white md:text-black dark:text-gray-200 leading-10 my-8;
}

.subtitle {
    font-family: Rubik, sans-serif;
    @apply text-4xl leading-10 text-gray-100 md:text-gray-500 dark:text-gray-400 font-normal mb-8;
    a {
        @apply text-green-300 dark:text-green-400;
    }
}

.regular-text {
    font-family: Roboto, sans-serif;
    @apply text-xl font-normal text-white md:text-black dark:text-gray-300 text-justify;
}

.text-whisper {
    font-family: Rubik, sans-serif;
    @apply text-xl mt-5 md:text-4xl leading-3 md:mt-10 text-white dark:text-gray-200 font-bold mb-8 select-none;
}

.regular-text a {
    @apply text-gray-100 md:text-green-600 dark:text-green-300;
}

.footer-text {
    @apply md:text-gray-500 dark:text-gray-300 md:text-left text-center text-xs md:text-base mb-4 md:mb-0; 
}

.footer-text a {
    @apply text-green-500;
}

nav.menu-links {
    @apply flex flex-col justify-center py-8 gap-8 mx-12;

    a {
        @apply flex cursor-pointer justify-start items-end;

        .background-text {
            font-family: 'Times New Roman', Times, serif;
            @apply ml-12 relative text-green-50 dark:text-gray-900 pb-4 text-5xl md:text-9xl select-none;
        }

        .link-text {
            @apply absolute dark:text-gray-200 border-b-2 pb-4 pl-12;
        }
    }
}
