---
interface Props {
	link: string;
	text: string;
};

const { link, text } = Astro.props as Props;
---
<a href={link} class="decoration-none py-4">
	<span>&leftarrow;</span>
	<span>{text}</span>
</a>