---
---
<div id="cookieBanner" class="opacity-0 transition-all duration-300 ease-in-out fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
	<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
		<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
		<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
		<div class="inline-block align-bottom bg-white dark:bg-black rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
			<div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
				<button id="closeCookies" type="button" title="accept minimal cookies" class="rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
					<span class="sr-only">Close</span>
					<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
			<div class="sm:flex sm:items-start">
				<div class="mx-auto flex-shrink-0 flex items-center justify-center h-auto w-64">
					<img width="250" height="250" src="https://firebasestorage.googleapis.com/v0/b/eliancodes-1632771244788.appspot.com/o/cookies.png?alt=media&token=25739ebe-3eb6-4091-844e-64cfacaf719c" alt="accept my code cookies">
				</div>
				<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
					<h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white" id="modal-title">
						Will you eat my cookies?
					</h3>
					<div class="mt-2">
						<p class="text-sm text-gray-500 dark:text-white">
							Hello peeps, please click "Accept" to accept cookies, they're used to enhance your browsing experience, analytics and display relevant ads for you. <br/>If you choose the minimal cookies, only necessary cookies will be used.
						</p>
					</div>
				</div>
			</div>
			<div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
				<button type="button" id="acceptFullCookies" title="accept all cookies" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-color-always text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm">
					Accept
				</button>
				<button type="button" id="acceptMinimalCookies" title="accept only minimal cookies" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white dark:bg-black dark:text-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
					Minimal cookies
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	import './Cookies.ts'
</script>