---
import Layout from "@layouts/new/Error.astro";
import Button from "@ui/Button.astro";
import Section from "@ui/Section.astro";
import SubTitle from "@ui/Subtitle.astro";
import Title from "@ui/Title.astro";

export const prerender = true;
---

<Layout title='Oops' description='Page Not Found!' noindex>
	<section class='not-found'>
		<Section class='not-found__inner'>
			<Title>404</Title>
			<SubTitle>Oops, it looks like this page can't be found</SubTitle>
			<Button href='/'>Back home</Button>
		</Section>
	</section>
</Layout>

<style>
	.not-found {
		display: flex;
		min-height: 100vh;
		align-items: center;
		background: var(--secondary);
		color: white;
	}

	.not-found__inner {
		display: grid;
		gap: 1rem;
		max-width: 42rem;
	}
</style>
