---
import Section from '@ui/Section.astro';
import Title from '@ui/Title.astro';
import SubTitle from '@ui/Subtitle.astro';
import Button from '@ui/Button.astro';
import Layout from '@layouts/new/Error.astro';

export const prerender = true;
---

<Layout title='Oops' description='Page Not Found!'>
	<Section class='inset-0 absolute bg-secondary text-white'>
		<div class='flex h-full flex-col justify-center gap-4 mx-auto max-w-2xl'>
			<Title>404</Title>
			<SubTitle>Oops, it looks like this page can't be found</SubTitle>
			<Button class='z-10' href='/'>Back home</Button>
		</div>
	</Section>
</Layout>
