---
import BaseLayout from '@layouts/BaseLayout.astro';
import InfoBlock from '@components/home/InfoBlock.astro';
import SocialBlock from '@components/home/SocialBlock.astro';
---

<BaseLayout
  title='Home'
  description='Sofware Engineer @vBridge BV | Astro Ambassador | Elian blogs about webdevelopment, cloud native development and overall programming.'
>
  <main
    class='mt-16 lg:mt-12 xl:mt-0 flex flex-col-reverse lg:flex-row gap-10 items-center justify-center w-full'
  >
    <InfoBlock />
    <SocialBlock />
  </main>
</BaseLayout>
