---
import Layout from "@layouts/new/Default.astro";
import Button from "@ui/Button.astro";
import List from "@ui/List.astro";
import ListItem from "@ui/ListItem.astro";
import Section from "@ui/Section.astro";
import TitleSection from "@ui/TitleSection.astro";

export const prerender = true;

const links = [
	{ title: "X (Formerly Twitter)", url: "https://x.com/eliancodes" },
	{ title: "GitHub", url: "https://github.com/eliancodes" },
	{ title: "LinkedIn", url: "https://linkedin.com/in/elianvancutsem" },
	{ title: "Threads", url: "https://threads.net/eliancodes" },
	{ title: "Dev.to", url: "https://dev.to/eliancodes" },
	{ title: "Bluesky", url: "https://bsky.app/profile/elian.codes" },
	{ title: "Mastodon", url: "https://webtoo.ls/@eliancodes" },
	{ title: "Instagram", url: "https://instagram.com/eliancodes" },
	{
		title: "Facebook",
		url: "https://www.facebook.com/profile.php?id=61575240867661",
	},
	{ title: "Twitch", url: "https://twitch.tv/eliancodes" },
	{ title: "YouTube", url: "https://youtube.com/@eliancodes" },
	{ title: "TikTok", url: "https://tiktok.com/@eliancodes" },
];
---

<Layout title='Links' description='Links on where to find @ElianCodes online'>
	<TitleSection
		title='Links'
		subtitle='Here are some links to my profiles on other platforms.'
	/>
	<Section class='links-page'>
		<List class='links-page__list'>
			{
				links.map((link) => (
					<ListItem class='links-page__item'>
						<Button target='_blank' fullWidth href={link.url}>
							{link.title}
						</Button>
					</ListItem>
				))
			}
		</List>
	</Section>
</Layout>

<style>
	.links-page {
		width: min(100%, 40rem);
		margin: 0 auto;
		padding-top: 3rem;
		padding-bottom: 4rem;
	}

	.links-page__list {
		display: grid;
		gap: 1rem;
		width: 100%;
		list-style: none;
	}
</style>
