---
import Button from '@ui/Button.astro';
import List from '@ui/List.astro';
import ListItem from '@ui/ListItem.astro';
import Section from '@ui/Section.astro';
import TitleSection from '@ui/TitleSection.astro';
import Layout from '@layouts/new/Default.astro';

export const prerender = true;

const links = [
	{ title: 'X (Formerly Twitter)', url: 'https://x.com/eliancodes' },
	{ title: 'GitHub', url: 'https://github.com/eliancodes' },
	{ title: 'LinkedIn', url: 'https://linkedin.com/in/elianvancutsem' },
	{ title: 'Threads', url: 'https://threads.net/eliancodes' },
	{ title: 'Dev.to', url: 'https://dev.to/eliancodes' },
	{ title: 'Bluesky', url: 'https://bsky.app/profile/elian.codes' },
	{ title: 'Mastodon', url: 'https://webtoo.ls/@eliancodes' },
	{ title: 'Instagram', url: 'https://instagram.com/eliancodes' },
	{ title: 'Twitch', url: 'https://twitch.tv/eliancodes' },
	{ title: 'YouTube', url: 'https://youtube.com/@eliancodes' },
	{ title: 'TikTok', url: 'https://tiktok.com/@eliancodes' },
];
---

<Layout title='links' description='Links on where to find @ElianCodes online'>
	<TitleSection
		title='Links'
		subtitle='Here are some links to my profiles on other platforms.'
	/>
	<Section class='my-12 flex justify-center items-center mx-auto max-w-xl'>
		<List class='flex flex-col justify-center items-center gap-4 w-full'>
			{
				links.map((link) => (
					<ListItem class='w-full'>
						<Button target='_blank' class='w-full' href={link.url}>
							{link.title}
						</Button>
					</ListItem>
				))
			}
		</List>
	</Section>
</Layout>
