<footer id="footer" class="opacity-0 pt-12 lg:pt-0 lg:absolute lg:bottom-8 transition-opacity ease-in-out duration-500">
	Website built with <a id="footerTechnology" class="use-color" title="go to the " target="_blank" href="">test</a> & ☕️
</footer>

<script hoist>
	const updateDOM = (technology) => {
		const footer = document.getElementById('footerTechnology')
		footer.innerHTML = technology.name
		footer.setAttribute('title', `go to the ${technology.name} website`)
		footer.setAttribute('href', technology.link)
		document.getElementById('footer').classList.remove('opacity-0')
	}
	const setTechnology = async () => {
		await fetch('https://api.elian.codes/technologies').then(res => res.json()).then(technologies => {
			updateDOM(technologies[(Math.floor(Math.random() * technologies.length))])
		}).catch(() => {
			updateDOM({ name: 'Astro', link: 'https://www.astro.build'})
		})
	}
	setTechnology()
</script>

<script src={Astro.resolve('./CustomColor.ts')} hoist></script>