---
import { getRecentBlogPosts } from "@lib/content";
import List from "@ui/List.astro";
import ListItem from "@ui/ListItem.astro";
import Section from "@ui/Section.astro";
import Title from "@ui/Title.astro";

const latest = await getRecentBlogPosts(4);
---

<section id='latest-greatest' class='latest'>
	<Section>
		<Title>The latest<br />and greatest.</Title>
		<List class='latest__list'>
			{
				latest.map((post) => (
					<ListItem>
						<a href={`/blog/${post.id}`} class='latest__link'>
							<p class='latest__type'>Article</p>
							<h3 class='latest__title'>{post.data.title}</h3>
							<p class='latest__arrow'>&rAarr;</p>
						</a>
					</ListItem>
				))
			}
		</List>
	</Section>
</section>

<style>
	.latest {
		padding: 4rem 0;
		background-color: var(--primary);
	}

	.latest :global(h2) {
		color: var(--secondary);
	}

	.latest__list {
		display: grid;
		gap: 0.5rem;
		padding-top: 3rem;
		list-style: none;
	}

	.latest__link {
		display: grid;
		grid-template-columns: auto minmax(0, 1fr) auto;
		align-items: center;
		gap: 1rem;
		padding: 1rem 0;
		border-bottom: 1px solid rgb(43 43 43 / 0.2);
		text-decoration: none;
	}

	.latest__type {
		font-family: "Outfit", sans-serif;
		font-size: 0.75rem;
		font-weight: 700;
		letter-spacing: 0.08em;
		text-transform: uppercase;
	}

	.latest__title {
		font-family: "Outfit", sans-serif;
		font-size: 1.35rem;
	}

	.latest__arrow {
		font-size: 1.2rem;
	}
</style>
