---
import RenderIcons from '@components/icons/RenderIcons.astro';
import type { Social } from '../../types';

const socials = [
	{
		name: 'GitHub',
		url: 'https://github.com/eliancodes',
		icon: 'github',
	},
	{
		name: 'X',
		url: 'https://x.com/ElianCodes',
		icon: 'twitter',
	},
	{
		name: 'Facebook',
		url: 'https://www.facebook.com/profile.php?id=61575240867661',
		icon: 'facebook',
	},
	{
		name: 'Instagram',
		url: 'https://www.instagram.com/eliancodes',
		icon: 'instagram',
	},
	{
		name: 'LinkedIn',
		url: 'https://www.linkedin.com/in/elianvancutsem',
		icon: 'linkedin',
	},
] as Social[];
---

<section class='md:hidden'>
	<h2 class='hidden'>Socials section</h2>
	<ul class='flex justify-between'>
		{
			socials.map((item: Social) => (
				<li class='bg-green-300 text-black border-black border-2 rounded card-shadow'>
					<a
						href={item.url}
						class='flex p-4 items-center justify-center'
						target='_blank'
						title={`Go to ${item.name}`}
					>
						<RenderIcons icon={item.icon} />
					</a>
				</li>
			))
		}
	</ul>
</section>
