---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import DefaultHeader from '../components/layout/DefaultHeader.astro';
import DefaultFooter from '../components/layout/DefaultFooter.astro';

let title = 'Elian Van Cutsem | Page Not Found';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://www.elian.codes/404';

---
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <DefaultHeader textMenu={true} />
    <main class="error">
      <h2>404</h2>
      <p>Seems like the page you're looking for is not here</p>
    </main>
    <DefaultFooter />
  </body>
</html>