.prose {
    h1, h2, h3, h4, h5, h6 {
        @apply dark:text-gray-200;
    }

    p {
        @apply dark:text-gray-300;
    }

    code::before, code::after {
        content: "";
    }

    code {
        @apply dark:text-gray-300;
    }
    
    pre {
        text-shadow: none !important;
        @apply dark:bg-gray-700;
        
        .operator {
            @apply dark:bg-gray-700;
        }
    }

    table {
        @apply dark:text-gray-300;

        th {
            @apply dark:text-gray-200;
        }
    }

    ul li {
        @apply dark:text-gray-400;
    }
    
    .token.string {
        background: none !important;
        @apply bg-transparent;
    }
}