---
import Avatar from "@assets/avatar.png";
---

<div>
	<img src={Avatar.src} alt="small icon of Elian" />
	<h1>
		<a href="/"><strong>Elian</strong>.codes</a>
	</h1>
</div>

<style>
	div {
		display: flex;
		align-items: center;
		gap: 1rem;
		> img {
			border-radius: 100%;
			width: 2.5rem;
			height: 2.5rem;
		}
	}
</style>
