<footer>
  <p>Built with <a href="https://astro.build" rel="nofollow noopener" target="_blank">Astro</a>, <a href="https://tailwindcss.com" rel="nofollow noopener" target="_blank">TailwindCSS</a> &amp; ☕</p>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" client:load></script>
<script>
  AOS.init();
</script>