---
export interface Props {
	// biome-ignore lint/suspicious/noExplicitAny: any type
	content: any;
}

const { content } = Astro.props;
const daysAgo =
	(new Date(content.pubDate).getTime() - Date.now()) / (1000 * 60 * 60 * 24);
const oldPost = daysAgo <= -90;
---

<article
	class='prose prose-slate w-full md:w-prose mx-auto poppins prose-pre:overflow-x-auto prose-img:rounded-md prose-a:underline prose-a:underline-offset-2 prose-a:decoration-2'
>
	<a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
	{
		oldPost ? (
			<aside class='p-4 border-black border-3 rounded-md bg-white card-shadow mt-4 mb-8 text-black text-sm md:text-base'>
				This blogpost was published more than 3 months ago. It's possible that
				some of this data or concepts are outdated.
			</aside>
		) : (
			<p class='text-slate text-sm md:text-base'>
				Published on {new Date(content.pubDate).toLocaleDateString()} by{' '}
				{content.author}
			</p>
		)
	}
	<slot />
	<p class='text-slate'>Written by {content.author}</p>
	<a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
</article>
