---
export interface Props {
	// biome-ignore lint/suspicious/noExplicitAny: any type
	content: any;
}

const { content } = Astro.props;
const daysAgo = (new Date(content.pubDate).getTime() - new Date().getTime()) / (1000 * 60 * 60 * 24);
const oldPost = daysAgo <= -90;
---

<article class="prose-slate w-sm md:w-prose md:prose poppins">
	<a href="/blog/" title="Back to blog">&larr; Back to blog</a>
	{ oldPost ?
		<aside class="p-4 border-black border-3 rounded-md bg-white card-shadow mt-4 text-black text-sm md:text-base">This blogpost was published more than 3 months ago. It's possible that some of this data or concepts are outdated.</aside>
		: 
		<p class="text-slate text-sm md:text-base">
			Published on {content.pubDate} by {content.author}
		</p>
	}
	<slot />
	<p class="text-slate">Written by {content.author}</p>
	<a href="/blog/" title="Back to blog">&larr; Back to blog</a>
</article>
