---
import { ActualButton } from '@eliancodes/brutal-ui';

interface Props {
	headings: any;
}

const { headings } = Astro.props;
---

<aside class="absolute">
	<ActualButton class:list="cursor-pointer brutal-btn" id='menuOpen' title="Open Table of Contents">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
		</svg>		
	</ActualButton>
	<ActualButton class:list="!hidden cursor-pointer brutal-btn" id='menuClose' title="Close Table of Contents">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
		</svg>		
	</ActualButton>
	<nav id="toc" class="hidden sticky top-6">
		<ul>
			{
				headings.map((heading: any) => (
					<li class="py-1">
						{[...Array(heading.depth - 1)].map(() => (
							<span class="inline-block w-4" />
						))}
						<a
							class="hover:text-stone transition-all duration-150 ease-in-out text-dark poppins"
							href={`#${heading.slug ?? ""}`}
						>
							{heading.text}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</aside>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const action = () => {
			document.getElementById('toc')?.classList.toggle('hidden');
			document.getElementById('menuOpen')?.classList.toggle('!hidden');
			document.getElementById('menuClose')?.classList.toggle('!hidden');
		}
		document.getElementById('menuOpen')?.addEventListener('click', action);
		document.getElementById('menuClose')?.addEventListener('click', action);
	})


</script>
