---
import DefaultLayout from '../../layouts/Default.astro';
import BlogOverview from '../../components/blog/BlogOverview.astro'
import BlogScripts from '../../components/layout/BlogScripts.astro'

const title = 'Elian Van Cutsem | Blog';
const description = 'Software Engineer @vBridge BV';
const permalink = 'https://www.elian.codes/blog/';

let allPosts = Astro.fetchContent('./*.md');
allPosts = allPosts.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));
---
<DefaultLayout title={title} description={description} permalink={permalink}>
  <main class="blog-index">
    <BlogOverview articles={allPosts} />
  </main>
  <BlogScripts />
</DefaultLayout>