---
import BlogList from "@components/blog/BlogList.astro";
import { Button } from "@eliancodes/brutal-ui";
import Layout from "@layouts/Default.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const allPosts = await getCollection("blog").then((collection) => {
		return collection.sort(
			(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
		);
	});

	const tags: string[] = [];

	for (const post of allPosts) {
		for (const tag of post.data.tags) {
			tags.push(tag);
		}
	}

	return Array.from(new Set(tags)).map((tag) => {
		return {
			params: { tag: tag.toLowerCase() },
			props: {
				tag,
				blogposts: allPosts.filter((post) =>
					post.data.tags.map((tag) => tag.toLowerCase()).includes(tag.toLowerCase()),
				),
			},
		};
	});
}

export interface Props {
	tag: string;
	blogposts: CollectionEntry<"blog">[];
}

const { tag, blogposts } = Astro.props;
---

<Layout
	title={`Blog: ${tag}`}
	description={`Elian Codes Blog | All posts tagged with ${tag}`}
	pageTitle={`Elian Codes | Blogposts tagged with ${tag}`}
>
	<main class="p-6 bg-purple grid gap-4">
		<div>
			<Button href="/blog/">&larr; Back to blog</Button>
		</div>
		<BlogList posts={blogposts} />
	</main>
</Layout>
