---
import BaseFooter from "@components/layout/BaseFooter.astro";
import BaseHead from "@components/layout/BaseHead.astro";
import BaseNavigation from "@components/layout/BaseNavigation.astro";

export interface Props {
	title: string;
	description: string;
	classList?: string;
	pageTitle?: string;
	socialImg?: URL;
}

const { title, description, classList, pageTitle, socialImg } = Astro.props;
---

<html lang="en" class="h-full">
	<BaseHead title={title} description={description} socialImg={socialImg} />

	<body class:list={[classList]}>
		<BaseNavigation pageTitle={pageTitle} />
		<slot />
		<BaseFooter />
		<style is:global>
			.card-shadow {
				filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
				transition: all;
				transition-duration: 0.5s;
				animation: ease-in-out;
			}
			.card-shadow:hover {
				filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
			}

			html {
				scroll-behavior: smooth;
			}
		</style>
	</body>
</html>
