---
interface Props {
	link: string | null;
	title: string;
	description: string;
	image: string | null;
	imageAlt?: string;
}

const { link, description, title, image, imageAlt } = Astro.props;
---

<a href={link ?? ""} class='project-card'>
	{image && <img src={image} alt={imageAlt ?? ""} />}
	<div class='project-card__content'>
		<h3>{title}</h3>
		<p>{description}</p>
	</div>
</a>

<style>
	.project-card {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
		background-color: var(--surface);
		border: 1px solid var(--border);
		border-radius: var(--radius-lg);
		text-decoration: none;
		box-shadow: var(--shadow-sm);
	}

	.project-card:hover {
		transform: translate(2px, 2px);
		box-shadow: none;
		background-color: var(--secondary);
		color: white;
	}

	.project-card > img {
		width: 4rem;
		height: 4rem;
		flex-shrink: 0;
		object-fit: cover;
		object-position: center;
		border-radius: 0.75rem;
	}

	.project-card__content {
		display: grid;
		gap: 0.2rem;
	}

	.project-card h3 {
		font-family: "Outfit", sans-serif;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.2;
	}

	.project-card p {
		font-size: 0.85rem;
		line-height: 1.45;
		color: inherit;
	}
</style>
