---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {}

const { ...rest } = Astro.props;
---

<section {...rest}>
	<slot />
</section>

<style>
	section {
		margin: 2rem 8rem;
		padding: 0 clamp(1rem, 1.2vw + 0.75rem, 2rem);
	}
	@media (max-width: 767px) {
		section {
			margin: 2rem 1rem;
		}
	}
</style>
