---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {}

const { class: classes, ...rest } = Astro.props;
---
<p class:list={["subtitle", classes]} {...rest}>
	<slot />
</p>

<style>
	.subtitle {
		font-family: "Sanchez", serif;
		font-size: 1.1rem;
		line-height: 1.75rem;
		color: var(--off-white);
	}
	@media (min-width: 1280px) {
		.subtitle {
			font-size: 1.5rem;
			line-height: 2.2rem;
		}
	}
</style>
