html.dark {
    &.index-bg {
        @media (max-width: 768px) {
            background: black !important;
        }
    }
    @apply bg-black;
    body {
        @apply text-gray-200;
    }
    main.blog-index {
        section.blog-overview {
            ul, a {
                @apply text-gray-200;
            }
        }
    }
    .light {
        opacity: 0.2;
    }
}

.lamp {
    @apply absolute w-12;
    border-bottom: 100px solid #444;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.bulb {
    @apply absolute;
    top: 90px;
    left: 50%;
    height: 32px;
    width: 32px;
    margin-left: -16px;
    background: #777;
    border-radius: 32px;
    // z-index: 9;
    transition: 300ms;
    -webkit-transition-delay:300ms;
}

.string{
    @apply absolute;
    top:90px;
    left:50%;
    margin-left:25px;
    height:100px;
    width:2px;
    background:#999;
    z-index:10;
}

.light{
    width: 50px;
    height: 0;
    top: 150px;
    left: 50%;
    margin: -135px 0 0 -715px;
    border: 715px solid transparent;
    border-top: none;
    border-bottom: 1400px solid #FF8;
    opacity: 0;
    position: absolute;
    transition: 300ms;
    -webkit-transition-delay:300ms;
}