:root {
    --color-for-bg: white;
    --random-color: lightgreen;
}

:root.dark {
    --color-for-bg: black;
}

.bg {
    background: paint(eliancodes-bg);
}

.use-color {
    color: var(--random-color);
}

.use-color-bg {
    background-color: var(--random-color);
}